@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-image:
    radial-gradient(
      circle at center,
      rgba(255,248,246,0.75) 25%,
      rgba(255,248,246,0.45) 60%,
      rgba(255,248,246,0.15) 100%
    ),
    url("https://images.unsplash.com/photo-1526045478516-99145907023c?q=80&w=2070&auto=format&fit=crop");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-wrapper {
  background: rgba(255, 250, 248, 0.72);
  backdrop-filter: blur(12px);
}

.related-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.related-scrollbar::-webkit-scrollbar-track {
  background: #f8ece8;
  border-radius: 999px;
}

.related-scrollbar::-webkit-scrollbar-thumb {
  background: #d7c0b4;
  border-radius: 999px;
}