@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #fff8f6;
  background-image:
    linear-gradient(
      to center,
      rgba(255, 248, 246, 0.96) 20%,
      rgba(255, 248, 246, 0.82) 45%,
      rgba(255, 248, 246, 0.7) 60%,
      rgba(255, 248, 246, 0.45) 100%
    ),
    url("/floral-bg.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.content-wrapper {
  background: rgba(255, 250, 248, 0.92);
  backdrop-filter: blur(10px);
}

.related-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.related-scrollbar::-webkit-scrollbar-track {
  background: #f8ece8;
  border-radius: 999px;
}

.related-scrollbar::-webkit-scrollbar-thumb {
  background: #d7c0b4;
  border-radius: 999px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(24px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}